## Постановка задачи: 
разработать систему предсказания оттока клиентов для компании
Т.к. данные достаточно сложно парсить, был выбран готовый датасет с контекста Data Fusion Contest 2024, где предоставлены данные от банка ВТБ,
для удобства скачивания весь датасет был выложен на kaggle

In [1]:
import kaggle
import json


import os
try :
    with open("../kaggle.json", "r") as file:
        kaggle_auth_data = json.load(file)
        os.environ['KAGGLE_USERNAME'] = kaggle_auth_data["username"]
        os.environ['KAGGLE_KEY'] = kaggle_auth_data["key"]
except FileNotFoundError:
    print("no_auth_file_was_found")
kaggle.api.authenticate()
kaggle.api.dataset_download_files('krellbob/churn-prediction-from-data-fusin-2024', path="../data_", unzip=True)

Dataset URL: https://www.kaggle.com/datasets/krellbob/churn-prediction-from-data-fusin-2024

- clients.csv - информация о клиентах 
- transactions.csv - ранзакции клиентов банка 
- reports_dates.csv - информация о датах отчетов 
- train.csv - данные о таргетах

In [2]:
import pandas as pd

In [10]:
train_data = pd.read_csv("../data_/train.csv")

In [11]:
train_data.head()

   user_id  target  time
0        3       0    77
1       13       0    86
2       37       0    89
3       41       0    57
4       42       0    84

In [7]:
transaction = pd.read_csv('../data_/transactions.csv')

In [9]:
transaction.head()

   user_id  mcc_code  currency_rk  transaction_amt     transaction_dttm
0        3         3            1      -183.883957  2022-01-28 12:05:33
1        3         3            1     -3206.437012  2022-01-28 12:52:30
2        3        16            1   -153866.890625  2022-02-16 14:45:56
3        3        56            1    -15144.601562  2022-03-09 19:58:29
4        3         0            1      5297.908691  2022-03-12 18:11:31